.results-show {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;  
}

.results-hide {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

.results-show .poster {  
  width: 25%;
  max-width: 25%;
  height: auto;
  padding: .2rem;
}

.results-show .poster:hover {
  outline: 1px solid white;
  cursor: pointer;
}

.results-text-show {
  color: #E6E1DE;
  font-family: 'Work Sans', sans-serif;
  font-size: 21px;
  line-height: 25px;
}

.results-text-hide {
  color: #272D34;
}

span {
  font-weight: bold;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}