* {
  box-sizing: border-box;
}

.body {
  background-color: #272D34;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

#tmdb{
  position:fixed;
  height:50px;
  width:50px;
  right: 5px;
  top: 5px;
}

.notFound {
  margin:auto;
  padding: 70px 0;
  width: 50%;  
  color: white;
  text-align: center;  
}