@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  box-sizing: border-box;
}

body {
  background-color: #272D34;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

#tmdb{
  position:fixed;  
  height:50px;
  width:50px;
  right:5px;
  top:65px;
}

.footer{
  position:fixed;
  bottom:1px;
  left:5px;
  font-size:10pt;
  color:white;
}

.page-bottom-boundary {
  height:100px;
  margin:30px;
}

/**************/
/* SearchBar */
/************/
.search {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin-top: 65px;
  margin-bottom: 50px;
  font-family: 'Work Sans', sans-serif;
  border-bottom: 1px solid rgba(230,225,222,0.24);    
}
  
.search-input {
  font-family: 'Work Sans', sans-serif;  
  padding-bottom: .5rem;
  color: #E6E1DE;
  background: transparent;
  min-height: 36px;
  border: 0;
  outline: none;
}

#search-input-underline {
  border-top: 2px solid rgba(247,181,0,1);
  width:0;
}
  
.search-input::placeholder {
  color: rgba(255, 255, 255, 0.24);
  font-family: 'Work Sans', sans-serif;
}

/* ResultsContainer */
/*                  */
/*                  */
.results-show {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;    
}

.results-hide {
  display: none;  
}

.result-block {  
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 5%;
  margin-right: 4%;  
  width: 22%;  
}

.result-block:nth-of-type(4n+0){
  margin-right: 0%;
}

.result-block:nth-child(-n+4){
  margin-top: 2%;
}

.poster {  
  max-width: 100%;
  height: auto;
  order: 1;
}

.poster:hover {
  outline: 1px solid white;
  cursor: pointer;
}

.results-text-show {
  color: #E6E1DE;
  font-family: 'Work Sans', sans-serif;
  font-size: 21px;
  line-height: 25px;
}

.results-text-hide {
  color: #272D34;
}

.result-title {
  color: #E6E1DE;
  font-family: "Work Sans", sans-serif;
  font-size: 21px;
  line-height: 25px;
  margin-top: 5%;
  order: 2;
}

.result-year-genre {  
  font-family: "Work Sans", sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: rgba(230,225,222,0.56);
  order: 3;
}

.results-text-show .results-showing {
  font-weight: bold;
  color: rgba(247,181,0,1);
}

/* Modal */
/*       */
/*       */
.modal-hide{
  display:none;
  position:fixed;
  padding-top:100px;
  top: 0;
  left: 0;
  height:100%;
  width:100%;
  overflow:auto;  
}

.modal-show{
  display:block;
  position:fixed;
  padding-top:100px;
  top: 0;
  left: 0;
  height:100%;
  width:100%;
  overflow:auto;  
}
  
.modal-block{
  position:relative; 
  background: black;
  opacity: 0.90;  
  margin:auto;
  padding:0;
  border:3px solid rgba(255, 255, 255, 0.24);
  border-radius:15px;
  width:800px;
  height:400px;  
}
  
.modal-text{
  position:relative;  
  color: white;
  font-size: 14pt;
  left:220px;
  line-height:16pt;
  max-width:560px;
}
  
.modal-close-button{  
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  height: 16px;
  width: 16px;
  background: url("https://imgur.com/Xpa25dd.png") no-repeat 50% 50%;
  border: 0;
  font-size: 0;
  cursor: pointer;
}

.modal-poster{
  position:absolute;
  border-radius:5px;
  left:8px;
  top:45px;
  height:297px;
  width:200px;   
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .footer{
    font-size:8px;
  }

  .search {
    width:80%;
    left:5%;
  }

  .search-input {
    font-size:18px;
  }

  .result-block {
    width:100%;
  }

  #tmdb {
    width:25px;
    height:25px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .footer{
    font-size:10px;
  }

  .search {
    width:80%;
    left:5%;
  }

  #tmdb {
    width:25px;
    height:25px;
  }

  .search-input {
    font-size:24px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .footer{
    font-size:14px;
  }

  .search-input {
    font-size:30px;
  }

  #tmdb {
    width:50px;
    height:50px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .footer{
    font-size:14px;
  }

  .search-input {
    font-size:36px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}